@media(min-width: 701px) {
    #header__topMenu-navbar {
        display: block !important;
    }

    .header__topMenu-items {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        width: 100%;
        background: $extra-bg-gradient;
        padding: 10px 5px;
        border-radius: 0px 0px 5px 5px;
    }
}

@media(max-width: 1400px) {
    .aside-advertisement {
        display: none;
    }
    .container {
        right: 0;
    }
}

@media(max-width: 800px) {
    .header__logo {
        display: none;
    }

    .header__content {
        max-width: 100%;
    }

    .archive {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .archive__temperature {
        margin: 0;
    }

    .archive__text {
        margin-top: 7px;
    }

    .footer__info {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__menu {
        margin-bottom: 10px;
    }
}

@media(max-width: 700px) {
    .header__activities {
        flex-wrap: wrap;
    }

    .header__activities-form {
        margin-bottom: 10px;
        max-width: 100%;
        width: 100%;
    }

    .info {
        justify-content: center;
    }

    .info__item {
        margin-bottom: 10px;
    }

    .info__title h1 {
        margin-bottom: 0px;
    }

    .archive__text {
        text-align: justify;
        padding-left: 0;
        &::before,
        &::after {
            display: none;
        }
    }

    .weatherToday {
        text-align: justify;
    }

    .news__firstline {
        flex-wrap: wrap;

        .news__item {
            margin-top: 7px;
            width: 100%;
            padding: 0px 8px;
        }
    }

    #header__topMenu-navbar {
        display: none;
    }

    .header__topMenu-items {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        align-items: center;
    }

    .header__topMenu-item {
        padding: 10px 8px;
        font-size: 18px;
        font-weight: 700;   
    }    

    .header__topMenu-item + .header__topMenu-item {
        border-left: none;
    }

    .header__topMenu-logo {
        display: block;
    }
    #header__topMenu-burger {
        display: block;
    }
    
}

@media(max-width: 500px) {
    .header__topMenu-items {
        align-items: flex-start;
    }
}

@media(max-width: 450px) {
    .breadcrumps {
        text-align: center;
    }
    .breadcrumps a {
        margin-bottom: 5px;
    }

    .header__activities-buttons {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header__activities-button {
        max-width: 120px;
        width: 100%;
        margin-bottom: 10px;
    }

    .info__title h1 {
        font-size: 21px;
    }

    .header__countries-item {
        margin-bottom: 5px;
    }
}