$content-gradient: linear-gradient(180deg, #e4eff9 0%, #bddff6 30%, #bddff6 100%);
$footer-gradient: linear-gradient(180deg, #bddff6 0%, #dbeefa 100%);

$main-bg-color: #bddff6;
$extra-text-color: #005EB5;

$bg-gradient: linear-gradient(0deg, #22387a 0%, #00a3de 100%);
$bg-gradient-reverse: linear-gradient(180deg, #22387a 0%, #00a3de 100%);
$extra-bg-gradient: linear-gradient(0deg, #22387a 0%,#0f89c9 100%);
$btn-gradient: linear-gradient(0deg, #aeaeae 0%, #cececf 50%, #e4e4e4 100%);
$btn-gradient-reverse: linear-gradient(180deg, #aeaeae 0%, #cececf 50%, #e4e4e4 100%);

$table-gradient: linear-gradient(180deg, #d9dbdb 0%, #fff 100%);


